{%extends 'base.html'%}

{%block main_block%}
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>ADDRESS</th>
            <th>DEPARTMENT</th>
            <th>SALARY</th>
            <th>DATE OF JOINING</th>
            <th>GENDER</th>
            <th>DOB</th>
            <th>PICTURE</th>
            <th>ACTION</th>
        </tr>
        {%for e in data%}
        <tr>
            <td> {{e.name}}</td>
            <td>{{e.email}}</td>
            <td>{{e.address}}</td>
            <td>{{e.department}}</td>
            <td>{{e.salary}}</td>
            <td>{{e.date_of_join}}</td>
            <td>{{e.gender}}</td>
            <td>{{e.dob}}</td>
            <td>
                {%if e.picture%}
                <img src="{{e.picture.url}}" alt="Picture of {{e.name}}" class="w-50 h-50">
                {%endif%}
            </td>
            <td>
                <a href="{%url 'employee-detail' e.id%}">view</a>
                <a href="{%url 'employee-remove' e.id%}">remove</a>
                <a href="{%url 'employee-update' e.id%}">modify</a>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>
{%endblock%}